body{
    padding: 0;
    margin: 0;
}
div{
    font-size: 3vh;
}
.title{
    width: 100%;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}
#pavilion_img{
    width: 60vw;
    height: 0;
    padding-bottom: 60vw;
    margin-left: 20vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 1px solid black;
}
#position_list{
    margin-top: 1vh;
    border: 1px solid black;
}
